# --- Build Artifacts ---
.cache/
build/
bin/
lib/
out/
*.so
*.o
*.a
compile_commands.json

# --- IDEs ---
.vs/
!.vscode/
*.swp
*.suo
.idea/
.DS_Store
Thumbs.db

# --- Logs ---
logs/

# --- Misc ---
tests/*.json
!tests/edge_update_formatted.json
